* {
  font-family: "Merriweather", serif;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-image: url(../images/fondorojo.jpg);
}

.cabecera {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  background-color: red;
  background-image: radial-gradient(red, black);
  height: 9rem;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem;
}
.cabecera ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  border-radius: 10px;
  padding: 0.5rem;
  margin-left: 1rem;
}
.cabecera ul li a {
  margin-left: 1rem;
  color: white;
  transition: 0.5s;
}
.cabecera ul li a:hover {
  filter: opacity(0.5);
}
.cabecera .logoClub {
  width: 7rem;
  height: 7rem;
  transition: 0.5s;
}
.cabecera .logoClub:hover {
  filter: opacity(0.8);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(black, red, black);
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 5px;
}
.main .contactoSocios {
  display: flex;
  justify-content: center;
  text-align: center;
}
.main .contactoSocios .socios {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  border-radius: 10px;
  width: 33rem;
  height: 5rem;
  padding: 0.1rem;
  transition: background-color 1s, font-size 0.5s;
}
.main .contactoSocios .socios:hover {
  background-color: rgb(0, 0, 0);
  font-size: large;
  text-decoration: underline;
}
.main .contactoSocios .socios .logoLink {
  width: 4rem;
  height: 4rem;
}
.main #noticias {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 26rem;
  margin-top: 1rem;
  color: white;
}
.main #noticias .noticia__titulo {
  text-align: center;
  background-color: rgba(148, 0, 0, 0.747);
  border-radius: 5px;
  align-self: center;
  padding: 0.5rem;
}
.main #noticias .noticia__fecha {
  color: black;
  font-weight: bolder;
}
.main #noticias .noticias__festival {
  width: 30rem;
  text-align: center;
  border: solid 2px rgba(0, 0, 0, 0.63);
  background-image: linear-gradient(black, red);
  align-self: center;
}
.main #noticias .noticias__festival .resumenNoticia {
  color: black;
}
.main #noticias .noticias__festival .imagenBoxeador {
  width: 28rem;
  margin-top: 0.5rem;
}
.main .animacion {
  display: flex;
  flex-direction: column;
  height: 3rem;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-image: linear-gradient(red, black);
  -webkit-animation-name: efectoUno;
          animation-name: efectoUno;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@-webkit-keyframes efectoUno {
  50% {
    background-image: linear-gradient(black, red);
  }
  100% {
    background-image: linear-gradient(red, black);
  }
}
@keyframes efectoUno {
  50% {
    background-image: linear-gradient(black, red);
  }
  100% {
    background-image: linear-gradient(red, black);
  }
}
.main .animacion .aGaleria {
  border-radius: 10px;
  align-self: center;
  text-align: center;
  height: 1rem;
  padding: 1rem;
}

.aside {
  grid-area: aside;
  margin-left: 2rem;
  margin-top: 0.5rem;
}
.aside .iframeInsta {
  width: 24rem;
  height: 52rem;
  border: solid 2px rgba(0, 0, 0, 0.534);
}

.actividad {
  color: red;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
}

.sumate {
  color: white;
  background-color: red;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.7s;
}
.sumate:hover {
  font-size: 1.2rem;
}

.imagen_carousel {
  width: 100%;
  height: 34.375rem;
  border-radius: 5px;
}

.pieDePagina {
  background-color: rgb(19, 17, 17);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.pieDePagina .pieDePagina__rojo {
  color: red;
}
.pieDePagina .sitios {
  display: flex;
  flex-direction: row;
}
.pieDePagina .sitios .imagen__redesSoc {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-left: 1rem;
  transition: 0.5s;
}
.pieDePagina .sitios .imagen__redesSoc:hover {
  filter: opacity(0.5);
}

@media screen and (min-width: 320px) and (max-width: 575px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  /*index*/
  .cabecera {
    text-align: center;
    font-size: xx-small;
  }
  .cabecera ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.5rem;
    transform: translateX(2rem);
  }
  .cabecera .logoClub {
    transform: translateX(-3rem);
  }
  .socios:hover {
    display: none;
  }
  .animacion {
    -webkit-animation-name: none;
            animation-name: none;
  }
  .aside {
    display: none;
  }
  .aside .imagen_carousel {
    height: 20rem;
  }
  .pieDePagina {
    text-align: center;
    padding: 2rem;
    margin: 0.3rem;
  }
  /*noticias*/
  .noticia__escuelita {
    margin-top: 1rem;
  }
  /*institucional*/
  .main2 {
    display: flex;
    padding: 2rem;
    margin: 0.5rem;
  }
  .main2 .texto {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .main2 .imagen__ilustrativa {
    height: 20rem;
  }
  /*disciplinas*/
  .presentacion {
    -webkit-animation-name: none;
            animation-name: none;
  }
  /*galeria*/
  .tituloAlbum:hover {
    display: none;
  }
  /*festivalboxeo*/
  .rayoNoticia {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  /*encuentroescuelitas*/
  #chicosEscuelita {
    width: 80%;
    margin: 1rem;
    border-radius: 5px;
  }
}
/*Tablet*/
@media screen and (min-width: 576px) and (max-width: 991px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  /*index*/
  .cabecera {
    text-align: center;
  }
  .main {
    flex-direction: column;
    margin: 0.6rem;
  }
  .main .socios:hover {
    display: none;
  }
  .aside {
    display: none;
  }
  .imagen_carousel {
    height: 30rem;
  }
  .animacion {
    -webkit-animation-name: none;
            animation-name: none;
    -webkit-animation-timing-function: none;
            animation-timing-function: none;
    -webkit-animation-duration: none;
            animation-duration: none;
    -webkit-animation-delay: none;
            animation-delay: none;
    background-image: none;
  }
  .pieDePagina {
    margin: 0.5rem;
    padding: 1rem;
  }
  /*noticias*/
  .noticia__escuelita {
    margin-top: 1rem;
  }
  /*institucional*/
  .texto {
    text-align: center;
  }
  .imagen__ilustrativa {
    height: 40rem;
  }
  .descripcion__imagen {
    color: black;
    margin-top: 1rem;
  }
  .historia__items {
    align-self: center;
    margin-left: 0px;
    margin-top: 1rem;
  }
  /*disciplinas*/
  .presentacion {
    -webkit-animation-name: none;
            animation-name: none;
  }
  /*galeria*/
  .tituloAlbum:hover {
    display: none;
  }
  /*festivalboxeo*/
  .rayoNoticia {
    width: 80%;
    height: 40rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  /*encuentroescuelitas*/
  #chicosEscuelita {
    width: 80%;
    margin: 1rem;
    border-radius: 5px;
  }
}
/*MediaDesktop*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-size: medium;
  }
  /*index*/
  .cabecera {
    text-align: center;
    font-size: medium;
    justify-content: space-around;
  }
  .iframeInsta {
    transform: translateX(-1rem);
    width: 38rem;
  }
  .pieDePagina {
    padding: 2rem;
  }
  /*institucional*/
  .imagen__ilustrativa {
    height: 50rem;
  }
  /*festivalboxeo*/
  .rayoNoticia {
    width: 80%;
    height: 60%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .pieDePagina {
    text-align: center;
    margin: 0.3rem;
  }
  /*encuentroescuelitas*/
  #chicosEscuelita {
    width: 80%;
    height: 40%;
    margin: 1rem;
    border-radius: 5px;
  }
}/*# sourceMappingURL=styles.css.map */