.aside {
    grid-area: aside;
    margin-left: 2rem;
    margin-top: 0.5rem;

    .iframeInsta {
        width: 24rem;
        height: 52rem;
        border: solid 2px rgba(0, 0, 0, 0.534);
    }

}

