.actividad {
    color: red;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
}

.sumate {
    color: white;
    background-color: red;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.7s;
    &:hover {
        font-size: 1.2rem;
    }
}

.imagen_carousel {
    width: 100%;
    height: 34.375rem;
    border-radius: 05px;
}