* { font-family: 'Merriweather', serif;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-image: url(../images/fondorojo.jpg);
}


.cabecera {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    background-color: red;
    background-image: $backgroundHeader;
    height: 9rem;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem;
   
    ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    border-radius: 10px;
    padding: 0.5rem;
    margin-left: 1rem;
    
    li a {
        margin-left: 1rem;
        color: white;
        transition: 0.5s;
        &:hover {
            filter: opacity(0.5);
        }
    }

    }

    .logoClub {
        width: 7rem;
        height: 7rem;
        transition: 0.5s;
        &:hover {
            filter: opacity(0.8);
        }
        
    }
}



@media screen and (min-width: 320px) and (max-width: 575px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    html {
        font-size: 62.5%;
    }
    
    
    .cabecera {
        text-align: center;
        font-size:xx-small;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 0.5rem;
            transform: translateX(2rem);
        }

        .logoClub {
            transform: translateX(-3rem);
        }
    }
  
}