.cabecera {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    background-color: red;
    background-image: radial-gradient(red, black);
    height: 9rem;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem;
   
    ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    border-radius: 10px;
    padding: 0.5rem;
    margin-left: 1rem;
    
    li a {
        margin-left: 1rem;
        color: white;
        transition: 0.5s;
        &:hover {
            filter: opacity(0.5);
        }
    }

    }

    .logoClub {
        width: 7rem;
        height: 7rem;
        transition: 0.5s;
        &:hover {
            filter: opacity(0.8);
        }
        
    }
}