//MediaQueries

@media screen and (min-width: 320px) and (max-width: 575px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    html {
        font-size: 62.5%;
    }

    /*index*/
    
    
    .cabecera {
        text-align: center;
        font-size: xx-small;
    

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 0.5rem;
            transform: translateX(2rem);
        }

        .logoClub {
            transform: translateX(-3rem);
        }
    }

    .socios:hover {
        display: none;
    }
    
    .animacion {
        animation-name: none;
     
    }

    .aside {
        display:none;

        .imagen_carousel {
            height: 20rem;
        }
    }
    
    
       .pieDePagina {
        flex-direction: column;
        text-align: center;
        padding: 2rem;
        margin: 0.3rem;
    }
    
    /*noticias*/
    
    .noticia__escuelita {
        margin-top: 1rem;
    }
    
    
    /*institucional*/
    
    .main2 {
        display: flex;
        padding: 2rem;
        margin: 0.5rem;

        .texto {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .imagen__ilustrativa {
            height: 20rem;
        }
    }
    
    
    /*disciplinas*/
    
    .presentacion {
        animation-name: none;
    }
    
    
    
    /*galeria*/
    
    .tituloAlbum:hover {
        &:hover {
            display: none;
        }
    }
    
    
    /*festivalboxeo*/
    
    .rayoNoticia {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    

    
    /*encuentroescuelitas*/
    
    #chicosEscuelita {
        width: 80%;
        margin: 1rem;
        border-radius: 05px;
    }
    
    }


/*Tablet*/


@media screen and (min-width:576px) and (max-width:991px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    html {
        font-size: 62.5%;
    }


    /*index*/

    .cabecera { text-align: center;
   
    }

    .main {
        flex-direction: column;
        margin: 0.6rem;

        .socios {
            &:hover{
                display: none;
            }   
        }
    }

  
    .aside {
        display: none;
    }

    .imagen_carousel {
        height: 30rem;
    }


    .animacion {
        animation-name: none;
        animation-timing-function: none;
        animation-duration: none;
        animation-delay: none;
        background-image: none;
     
    }

    .pieDePagina {
        flex-direction: column;
        margin: 0.5rem;
        padding: 1rem;
    }


    /*noticias*/


    .noticia__escuelita {
        margin-top: 1rem;
    }



    /*institucional*/

    .main2 {

    .texto {
      text-align: center;
    }

    .imagen__ilustrativa {
        height: 40rem;
    }

    .descripcion__imagen {
        color: black;
        margin-top: 1rem;
    }

    .historia__items {
        align-self: center;
        margin-left: 0px;
        margin-top: 1rem;
    }

    }
    
  
    /*disciplinas*/


    .presentacion {
        animation-name: none;
    }
    

    /*galeria*/

    .tituloAlbum {
        &:hover{
            display: none;
        }
        
    }


   /*festivalboxeo*/

   .rayoNoticia {
    width: 80%;
    height: 40rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}



/*encuentroescuelitas*/

#chicosEscuelita {
    width: 80%;
    margin: 1rem;
    border-radius: 05px;
}


}

/*MediaDesktop*/

@media screen and (min-width:992px) and (max-width:1199px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    html {
        font-size: 62.5%;
    }

    body {
      font-size: medium;
    }

   /*index*/      
    
   .cabecera {
    text-align: center;
    font-size: medium;
    justify-content: space-around;

    }
     
    .aside {

        .iframeInsta {
            transform: translateX(-1rem);
            width: 35rem;
            height: 57rem;
        }
    

    }
    
    .pieDePagina {
        padding: 2rem;
    }

    /*institucional*/


    .imagen__ilustrativa {
        height: 50rem;
    }



    /*festivalboxeo*/

    .rayoNoticia {
        width: 80%;
        height: 60%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    /*encuentroescuelitas*/

   #chicosEscuelita {
    width: 80%;
    height: 40%;
    margin: 1rem;
    border-radius: 05px;
    }

}




    
  
